/* ############################################################################################################################################################## */
/* Page Styles */
/* ############################################################################################################################################################## */
body{
    background-color: skyblue;
}

.parentContainer{
    background-color: blue;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    max-width: 1200px;
}

.spacer{
    height: 150px;
}

.navSpacer{
    height: 150px;
}

@media (max-width: 768px){
    .spacer{
        height: 25px;
    }
    .navSpacer{
        height: 70px;
    }
}


/* ############################################################################################################################################################## */
/* Navigation and Footer Styles */
/* ############################################################################################################################################################## */



.footer{
    background-color: #1976d3;
    height: 75px;
    justify-content: center;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ############################################################################################################################################################## */
/* Text Styles */
/* ############################################################################################################################################################## */


.centerText{
    text-align: center;
    justify-content: center;
}



/* ############################################################################################################################################################## */
/* Product Styles */
/* ############################################################################################################################################################## */


.productHeading{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.productIMG{
    text-align: center;
}

.productTabs{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

/* ############################################################################################################################################################## */
/* User Profile Styles */
/* ############################################################################################################################################################## */
.userInfo{
    background-color: aliceblue;
    padding: 50px;
}


/* ############################################################################################################################################################## */
/* Brewery Information Styles */
/* ############################################################################################################################################################## */

.blogIMG{
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 500px;
}

.blogTitle{
    color: white;
}

.blogText{
    padding: 50px;
}


@media (max-width: 768px){
    .blogIMG{
        max-width: 100%;
        height: auto;
        width: auto;
        max-height: 500px;
    }
    .blogText{
        padding: 10px;
    }
}




/* ############################################################################################################################################################## */
/* Form Styles */
/* ############################################################################################################################################################## */

.welcomeCards{
   text-align: center;
   margin-top: 100px;
   padding: 20px;
}


.textFieldInputColour{
    background-color: lightgray;
    box-shadow: 1px 2px #94a197;
}

.textFieldInputLong{
    width: 100%;
    margin: 20px 0;
}

.textFieldInputShort{
    width: 45%;
}

.shortInputDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcomeButtons{
    padding: 5%;
    width: 30%;    
}

@media (max-width: 600px){
    .textFieldInputShort{
        background-color: lightgray;
        width: 100%; 
    }
    
    .textFieldInputShortINDV{
        margin-bottom: 20px;
    }

    .welcomeButtons{
        padding: 5%;
        width: 80%;    
    }

}

.cardTitles{
    margin: 0 0 30px 0;
}



